div {
	height: 250px;
	font-style: italic;
}
.header {
	width: 500px;
	padding: 5px;
	fontsize: 42px;
	display: flex;
	justify-content: center;
}
.center {
	margin-top: 50px;
	display: flex;
	justify-content: center;
}
#to-do_list {
	display: flex;
	justify-content: center;
	overflow: auto;
	background: thistle;
}
li:nth-child(even) 
{
	padding-right: 5px;
	background: mediumorchid;
	color: whitesmoke;
}